body{
   text-align: center;
   font-family: 'Yeseva One', cursive;
   margin-top: 2%;
   margin-left: 5%;
   margin-right: 5%;
   background: linear-gradient(#dd8bd7b3, #70b4cd);
   color: white; text-shadow;
}

main{
   margin-top: 5%;
   margin-top: auto;  
}

p{
   font-size: 80px;
   margin: 2%;
   padding: 3% 2%;
   border-radius: 20px;
   background-color: rgba(255, 255, 255, 0.70);
}

button{
   font-size: 20px;
   font-family: 'Yeseva One', cursive;
   margin: 1%;
   padding: 1.5% 5%;
   border-radius: 15px;
   border: 0px;
   color: white; text-shadow;
   width: 19%;
}

button:hover{
   transform: scale(1.04);
   transition: 60ms all;
   cursor: pointer;
}

h1{
   font-size: 3em;
}

#cadastrar{
   background-color: rgba(37, 148, 212, 0.70);
   padding: 50 100 50 100;
}

#entrar{
   background-color: rgba(111, 193, 241, 0.7);
   margin-bottom: 19%;
   padding: 50 100 50 100;
}

.login{
   margin-top: 5%;   
}